/StsServer/.vs
/.vs/StsServerIdentity/v15/.suo
/**/bin/Debug/**/*.*
/**/node_modules/**/*.*
/**/obj/Debug/**/*.*
/StsServer/obj/*.*
/StsServer/node_modules/bootstrap/LICENSE
/.vs/**/*.*
/ResourceServer/obj/*.*
/ResourceServer/obj/**/*.*
/StsServer/obj/**/*.*
/ResourceServer/ResourceServer.csproj.user
/VueJsOidcClient/vue-js-oidc-client/.vs/VSWorkspaceState.json
/VueJsOidcClient/vue-js-oidc-client/.vs/slnx.sqlite
